---
title: Empirically Verifying Hypotheses Using Reinforcement Learning.
venue: CoRR
volume: abs/2006.15762
year: 2020
type: Informal Publications
access: open
key: journals/corr/abs-2006-15762
ee: https://arxiv.org/abs/2006.15762
url: https://dblp.org/rec/journals/corr/abs-2006-15762
authors: ["Kenneth Marino", "Rob Fergus", "Arthur Szlam", "Abhinav Gupta"]
sync_version: 3
cite_key: journals/corr/abs-2006-15762/Marino/2020
---
